{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Create Committee</h1>

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success">Create</button>
        <a href="{{ path('app_committee_list') }}" class="btn btn-light">Cancel</a>
    </div>

    {{ form_end(form) }}
{% endblock %}
