{% extends 'admin/admin.html.twig' %}

{% block title %}History | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Create History Entry</h1>

    {% include 'admin/history/_form.html.twig' with {form: form, submitBtnText: 'Create', submitBtnType: 'success'} %}
{% endblock %}
