{% extends 'admin/admin.html.twig' %}

{% block title %}Users | {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ user.name }}</h1>

    {% include 'admin/user/_form.html.twig' with {form: form} %}
{% endblock %}
