{% extends 'public_base.html.twig' %}

{% form_theme forgotPasswordForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Forgot Password</h1>

    {{ form_start(forgotPasswordForm) }}
    {{ form_rest(forgotPasswordForm) }}

    <button type="submit" class="btn btn-primary">Forgot Password</button>
    <a href="{{ path('home') }}" class="btn btn-outline-secondary">Home</a>

    {{ form_end(forgotPasswordForm) }}
{% endblock %}
