{% extends 'login.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block content %}
    <h1>Forgot Password</h1>

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary">Forgot Password</button>
    <a href="{{ path('home') }}" class="btn btn-outline-secondary">Home</a>

    {{ form_end(form) }}
{% endblock %}
