{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Documents', 'before': true} %}
                <div class="documents">
                    <div class="page-container">
                        <div class="documents__date d-flex align-items-center">
                            <div class="documents__title-date mr-5">Year:</div>
                            <select class="select-item documents__select">
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                        <div class="documents__wrapp">
                            <div class="row documents-row">
                                <div class="col-3">
                                    <div class="document-item">
                                        <a href="#" class="document-item__link">
                                            <div class="document-item__type">
                                                PDF
                                            </div>
                                            <div class="document-item__title">
                                                Official Rule Book Edition 2019 (*)
                                            </div>
                                            <div class="document-item__text">
                                                Original Filename: rulesofthegame.2019.pdf, Filesize: 1305 kB, Uploaded
                                                on 2019-04-07
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="document-item">
                                        <a href="#" class="document-item__link">
                                            <div class="document-item__type">
                                                PDF
                                            </div>
                                            <div class="document-item__title">
                                                Official Rule Book Edition 2019 (*)
                                            </div>
                                            <div class="document-item__text">
                                                Original Filename: rulesofthegame.2019.pdf, Filesize: 1305 kB, Uploaded
                                                on 2019-04-07
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="document-item">
                                        <a href="#" class="document-item__link">
                                            <div class="document-item__type">
                                                PDF
                                            </div>
                                            <div class="document-item__title">
                                                Official Rule Book Edition 2019 (*)
                                            </div>
                                            <div class="document-item__text">
                                                Original Filename: rulesofthegame.2019.pdf, Filesize: 1305 kB, Uploaded
                                                on 2019-04-07
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="document-item">
                                        <a href="#" class="document-item__link">
                                            <div class="document-item__type">
                                                PDF
                                            </div>
                                            <div class="document-item__title">
                                                Official Rule Book Edition 2019 (*)
                                            </div>
                                            <div class="document-item__text">
                                                Original Filename: rulesofthegame.2019.pdf, Filesize: 1305 kB, Uploaded
                                                on 2019-04-07
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="document-item">
                                        <a href="#" class="document-item__link">
                                            <div class="document-item__type">
                                                PDF
                                            </div>
                                            <div class="document-item__title">
                                                Official Rule Book Edition 2019 (*)
                                            </div>
                                            <div class="document-item__text">
                                                Original Filename: rulesofthegame.2019.pdf, Filesize: 1305 kB, Uploaded
                                                on 2019-04-07
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="document-item">
                                        <a href="#" class="document-item__link">
                                            <div class="document-item__type">
                                                PDF
                                            </div>
                                            <div class="document-item__title">
                                                Official Rule Book Edition 2019 (*)
                                            </div>
                                            <div class="document-item__text">
                                                Original Filename: rulesofthegame.2019.pdf, Filesize: 1305 kB, Uploaded
                                                on 2019-04-07
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="document-item">
                                        <a href="#" class="document-item__link">
                                            <div class="document-item__type">
                                                PDF
                                            </div>
                                            <div class="document-item__title">
                                                Official Rule Book Edition 2019 (*)
                                            </div>
                                            <div class="document-item__text">
                                                Original Filename: rulesofthegame.2019.pdf, Filesize: 1305 kB, Uploaded
                                                on 2019-04-07
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="document-item">
                                        <a href="#" class="document-item__link">
                                            <div class="document-item__type">
                                                PDF
                                            </div>
                                            <div class="document-item__title">
                                                Official Rule Book Edition 2019 (*)
                                            </div>
                                            <div class="document-item__text">
                                                Original Filename: rulesofthegame.2019.pdf, Filesize: 1305 kB, Uploaded
                                                on 2019-04-07
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
