{% set btnGroupClass = size|default(false) ? 'btn-group btn-group-' ~ size : 'btn-group' %}
<div class="{{ btnGroupClass }}" role="group">
    {% block before_workflow %}{% endblock %}
    {{ include('common/_workflow_btns.html.twig', {
        subject: event,
        route: 'app_event_event_workflow',
        routeParams: {'event': event.id},
        confirmTitle: event.name,
        csrfIntentionPrefix: 'event_' ~ event.id
    }) }}
    {% block after_workflow %}{% endblock %}
</div>