{% extends 'public_base.html.twig' %}

{% block content %}
    {# @var event \App\Domain\Model\Event\EuropeanChampionship #}
    <h1>European Championship {{ event.season }} / {{ event.name }}</h1>

    {% include 'event/_form_championship.html.twig' with {form: form} %}
{% endblock %}
