{% extends 'internal.html.twig' %}

{% block content %}
    {# @var event \App\Domain\Model\Event\EuropeanCup #}
    <h1>European Cup {{ event.season }} / {{ event.name }}</h1>

    {% include 'event/_form_cup.html.twig' with {form: form} %}
{% endblock %}
