{% extends 'admin/admin.html.twig' %}

{% block content %}
    {# @var event App\Domain\Model\Event\Tournament #}
    <h1>Tournament {{ event.season }} / {{ event.name }}</h1>

    {% include 'event/_form_tournament.html.twig' with {form: form} %}
{% endblock %}
