{% extends 'admin/admin.html.twig' %}

{% block title %}Committees | {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ member.name }}</h1>

    {% include 'admin/committee/_member_form.html.twig' with {
        form: form,
        committee: member.committee,
        member: member
    } %}
{% endblock %}
