{% extends 'admin/admin.html.twig' %}

{% block title %}Committees | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Create Member for Committee {{ committee.title }}</h1>

    {% include 'admin/committee/_member_form.html.twig' with {
        form: form,
        committee: committee,
        submitBtnText: 'Create',
        submitBtnType: 'success'
    } %}
{% endblock %}
