{% extends 'admin/admin.html.twig' %}

{% block title %}Committees | {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ committee.title }}</h1>

    {% include 'admin/committee/_form.html.twig' with {form: form} %}
{% endblock %}
