<div class="custom-btn__container {{ class|default('') }}">
    <a class="btn custom-btn custom-btn--orange" href="#">
        <span class="custom-btn__text">more</span>
    </a>
    <span class="custom-btn__decoration-item"></span>
    <span class="custom-btn__decoration-item"></span>
    <span class="custom-btn__decoration-item"></span>
    <span class="custom-btn__decoration-item"></span>
</div>
