<section class="m-news m-news__bg">
    {% include 'home/_title.html.twig' with {'title': 'News', 'before': true} %}
    <div id="newsSlider" class="m-news__slider">
        {% for block in articles|batch(4) %}
            {# @var article1 App\Domain\Model\Article\Article #}
            {# @var article2 App\Domain\Model\Article\Article #}
            {# @var article3 App\Domain\Model\Article\Article #}
            {# @var article4 App\Domain\Model\Article\Article #}
            {% set article1 = block[0 + loop.index0 * 4] %}
            {% set article2 = block[1 + loop.index0 * 4] %}
            {% set article3 = block[2 + loop.index0 * 4] %}
            {% set article4 = block[3 + loop.index0 * 4] %}
            <div class="m-news__slide">
                <div class="m-news__slide-container m-news__slide-container--left">
                    <div class="m-news__slide-img">
                        {{ render(controller('App\\Controller\\NewsController::articlePrimaryImage', {
                            'article': article1,
                            'alt': article1.title,
                        })) }}
                    </div>
                    {% include 'home/_news_content.html.twig' with {'article': article1} %}
                </div>
                <div class="d-flex m-news__slide-right">
                    <div class="m-news__slide-container m-news__slide-container--center">
                        <div class="m-news__slide-img position-relative">
                            {{ render(controller('App\\Controller\\NewsController::articlePrimaryImage', {
                                'article': article2,
                                'alt': article2.title,
                            })) }}
                        </div>
                        {% include 'home/_news_content.html.twig' with {'article': article2} %}
                    </div>
                    <div class="m-news__slide-container m-news__slide-container--right">
                        <div class="m-news__slide-item m-news__slide-item--top">
                            <div class="d-flex">
                                <div class="m-news__slide-img">
                                    {{ render(controller('App\\Controller\\NewsController::articlePrimaryImage', {
                                        'article': article3,
                                        'alt': article3.title,
                                    })) }}
                                </div>
                                {% include 'home/_news_content.html.twig' with {'article': article3} %}
                            </div>
                        </div>
                        <div class="m-news__slide-item m-news__slide-item--bottom">
                            <div class="d-flex">
                                <div class="m-news__slide-img">
                                    {{ render(controller('App\\Controller\\NewsController::articlePrimaryImage', {
                                        'article': article4,
                                        'alt': article4.title,
                                    })) }}
                                </div>
                                {% include 'home/_news_content.html.twig' with {'article': article4} %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
