<section class="m-photo m-photo__bg m-photo__bg--right">
    <div class="m-photo__bg m-photo__bg--left">
        {% include 'home/_title.html.twig' with {'title': 'Photo', 'before': true} %}
        <div id="photoSlider" class="m-photo__slider">
            {% for image in images %}
                <div class="m-photo__slide">
                    <a href="{{ asset('assets/photo-slider/' ~ image) }}" data-lightbox="photoSlider">
                        <img src="{{ asset('assets/photo-slider/' ~ image) }}" alt="" class="img-fluid">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
