<section class="m-members m-members__bg">
    {% include 'home/_title.html.twig' with {'title': 'Federation members', 'before': true} %}
    <div id="memberCarousel" class="m-members__carousel">
        {% for i in 1..6 %}
            <div>
                <a href="#" class="d-flex justify-content-center">
                    <img src="{{ asset('build/images/main/members-slide-img--'~i~'.png') }}" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
</section>
