<section class="m-members m-members__bg">
    {% include 'home/_title.html.twig' with {'title': 'Federation members', 'before': true} %}
    <div id="memberCarousel" class="m-members__carousel">
        {% for member in members %}
            {% if member.logo %}
                <div>
                    <a href="{{ path('app_members_index') }}" class="d-flex justify-content-center">
                        <img src="{{ path('app_admin_nationalgoverningbody_logo', {'ngb': member.slug}) }}"
                             alt="{{ member.name|e('html_attr') }}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
