<section class="m-about m-about__bg">
    <div class="container-fluid">
        {% include 'home/_title.html.twig' with {'title': 'About sport', 'before': false} %}
        <div class="m-about__text-container">
            <img src="{{ asset('build/images/main/about-sport__img.png') }}" alt="" class="m-about__img">
            <div class="m-about__text">
                Roller hockey was born a few decades ago. Only at that time the wheels in the rollers were
                arranged in two rows, and such a vehicle for movement was called Quad. This sport was called
                differently, but most often you could hear about rink hockey. Such roller hockey has become
                widespread in 60 countries, and even up to this point they continue to play it.
                <div class="text-center">
                    {% include 'common/_more_button.html.twig' with {
                        'class': 'm-about__btn',
                        'href': path('app_aboutsports_index')
                    } %}
                </div>
            </div>
        </div>
    </div>
</section>
