{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Calendar', 'before': true} %}
                <div class="m-calendar container-fluid mt-0">
                    <div class="m-calendar__content">
                        <div id="externalTitle" class="text-center"></div>

                        <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                                   aria-controls="pills-home" aria-selected="true"><span>Today</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-profile-tab" data-toggle="pill"
                                   href="#pills-profile" role="tab"
                                   aria-controls="pills-profile" aria-selected="false"><span>Tournament</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-0" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                   role="tab"
                                   aria-controls="pills-contact" aria-selected="false"><span>Other event</span></a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div id="calendarToday"></div>
                            </div>
                            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                                 aria-labelledby="pills-profile-tab">
                                <div id="calendarTournament"></div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                 aria-labelledby="pills-contact-tab">
                                <div id="calendarOther"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
