{% extends 'public.html.twig' %}

{% block title %}Cookie Policy | {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    <span class="breadcrumb-item active">Cookie Policy</span>
{% endblock %}

{% block content %}
    <section class="iishf iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Cookie Policy', 'before': true} %}
                <div class="cookie">
                    <div class="col-12 p-lg-0">
                        <p class="mb-4">
                            <em>Not used - see <a href="{{ path('privacy') }}">Privacy Policy</a></em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
