{% extends 'public.html.twig' %}

{% block title %}Imprint | {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    <span class="breadcrumb-item active">Imprint</span>
{% endblock %}

{% block content %}
    <section class="iishf imprint__bg imprint__bg--left-bottom">
        <div class="imprint__bg imprint__bg--right-bottom">
            {% include 'home/_title.html.twig' with {'title': 'Imprint', 'before': true} %}
            <div class="imprint">
                <div class="col-12">
                    <h2 class="imprint__title">IISHF Headquarters</h2>
                    <h3 class="imprint__subtitle">Piergiovanni Gionchetta</h3>
                    <div class="imprint__address-box">
                        <ul class="list-unstyled">
                            <li class="d-flex">
                                <b>Address:</b>
                                <span class="imprint__address">Chemin du Soleil 3<br> 2604 La Heutte<br>Switzerland</span>
                            </li>
                            <li class="d-flex">
                                <b>E-mail:</b>
                                <span>
                                    <a href="mailto:pgionchetta@iishf.com"
                                       class="imprint__mail">pgionchetta@iishf.com</a> or
                                    <a href="mailto:office@iishf.com" class="imprint__mail">office@iishf.com</a>
                                </span>
                            </li>
                            <li class="d-flex">
                                <b>Phone:</b>
                                <span><a href="tel:+41796269499">+41 79 6269499</a></span>
                            </li>
                            <li class="d-flex">
                                <b>Fax:</b>
                                <span><a href="tel:+41323428024">+41 32 3428024</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
