{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Please check your mailbox</h1>

    <div class="alert alert-success">
        <p>Text.</p>
    </div>

    <a href="{{ path('home') }}" class="btn btn-outline-secondary">Home</a>
{% endblock %}
