{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Member countries', 'before': true} %}
                <div class="member">
                    <div class="page-container">
                        <div class="member__item">
                            <div class="member__logo-item">
                                <img src="{{ asset('build/images/other/orsv.png') }}" alt="">
                            </div>
                            <div class="member__descr-item">
                                <div class="member__info-item">
                                    <h3>Austria (AUT)</h3>
                                    <p class="blue-color"><b>Österreichischer Rollsport- und Inline-Skate-Verband
                                            (ÖRSV)</b></p>
                                    <p>Peter-Mitterhofer-Weg 23</p>
                                    <p>6300 Wörgl</p>
                                    <p class="blue-color">
                                        <b>Homepage:</b>
                                        <a href="#">http://www.isha.at</a>
                                    </p>
                                    <p class="blue-color">
                                        <b>E-Mail:</b>
                                        <a href="#">inlineskaterhockey@oersv.or.at</a>
                                    </p>
                                </div>
                                {% include 'home/_more_button.html.twig' with {
                                    'before': true,
                                    'title': 'more information'
                                } %}
                            </div>
                        </div>
                        <div class="member__item">
                            <div class="member__logo-item">
                                <img src="{{ asset('build/images/other/orsv.png') }}" alt="">
                            </div>
                            <div class="member__descr-item">
                                <div class="member__info-item">
                                    <h3>Austria (AUT)</h3>
                                    <p class="blue-color"><b>Österreichischer Rollsport- und Inline-Skate-Verband
                                            (ÖRSV)</b></p>
                                    <p>Peter-Mitterhofer-Weg 23</p>
                                    <p>6300 Wörgl</p>
                                    <p class="blue-color">
                                        <b>Homepage:</b>
                                        <a href="#">http://www.isha.at</a>
                                    </p>
                                    <p class="blue-color">
                                        <b>E-Mail:</b>
                                        <a href="#">inlineskaterhockey@oersv.or.at</a>
                                    </p>
                                </div>
                                {% include 'home/_more_button.html.twig' with {
                                    'before': true,
                                    'title': 'more information'
                                } %}
                            </div>
                        </div>
                        <div class="member__item">
                            <div class="member__logo-item">
                                <img src="{{ asset('build/images/other/orsv.png') }}" alt="">
                            </div>
                            <div class="member__descr-item">
                                <div class="member__info-item">
                                    <h3>Austria (AUT)</h3>
                                    <p class="blue-color"><b>Österreichischer Rollsport- und Inline-Skate-Verband
                                            (ÖRSV)</b></p>
                                    <p>Peter-Mitterhofer-Weg 23</p>
                                    <p>6300 Wörgl</p>
                                    <p class="blue-color">
                                        <b>Homepage:</b>
                                        <a href="#">http://www.isha.at</a>
                                    </p>
                                    <p class="blue-color">
                                        <b>E-Mail:</b>
                                        <a href="#">inlineskaterhockey@oersv.or.at</a>
                                    </p>
                                </div>
                                {% include 'home/_more_button.html.twig' with {
                                    'before': true,
                                    'title': 'more information'
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
