{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'News', 'before': true} %}
                <div class="news">
                    <div class="page-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="news__item">
                                    <div class="news__img-item">
                                        <a href="#">
                                            <img src="{{ asset('build/images/other/hockey-day.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="news__descr-item">
                                        <div class="news__date">
                                            <span>HOCKEY DAY</span> / 12.01.19
                                        </div>
                                        <h3>December 1 - World Hockey Day!</h3>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="news__item">
                                    <div class="news__img-item">
                                        <a href="#">
                                            <img src="{{ asset('build/images/other/hockey-day.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="news__descr-item">
                                        <div class="news__date">
                                            <span>HOCKEY DAY</span> / 12.01.19
                                        </div>
                                        <h3>December 1 - World Hockey Day!</h3>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="news__item">
                                    <div class="news__img-item">
                                        <a href="#">
                                            <img src="{{ asset('build/images/other/hockey-day.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="news__descr-item">
                                        <div class="news__date">
                                            <span>HOCKEY DAY</span> / 12.01.19
                                        </div>
                                        <h3>December 1 - World Hockey Day!</h3>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="news__item">
                                    <div class="news__img-item">
                                        <a href="#">
                                            <img src="{{ asset('build/images/other/hockey-day.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="news__descr-item">
                                        <div class="news__date">
                                            <span>HOCKEY DAY</span> / 12.01.19
                                        </div>
                                        <h3>December 1 - World Hockey Day!</h3>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination d-flex align-items-center justify-content-end">
                            <a href="#" class="pagination__item">
                                <span>1</span>
                            </a>
                            <a href="#" class="pagination__item">
                                <span>2</span>
                            </a>
                            <a href="#" class="pagination__item">
                                <span>3</span>
                            </a>
                            <a href="#" class="pagination__item is-active">
                                <span>4</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
