{% extends 'public.html.twig' %}

{% block title %}Privacy Policy | {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    <span class="breadcrumb-item active">Privacy Policy</span>
{% endblock %}

{% block content %}
    <section class="iishf iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Privacy Policy', 'before': true} %}
                <div class="cookie">
                    <div class="col-12 p-lg-0">
                        <p>The purpose of this Data & Privacy Policy (hereinafter referred to as the "Policy") is to
                            inform data subjects (hereinafter referred to as the "Subjects") about how we collect, store
                            and process their personal data.</p>
                        <h2 id="s1">Entity Responsible for Processing and Principles</h2>
                        <p>The International Inline Skater Hockey Federation (hereinafter referred to as "IISHF")
                            recognizes the importance of keeping Subjects’ data confidential and protecting their
                            privacy rights. Therefore, all personal data and information (hereinafter referred to as
                            "Data") provided in connection with our services will be processed lawfully, fairly,
                            transparently and confidentially.</p>
                        <h2 id="s2">Consent</h2>
                        <p>IISHF will seek Subjects prior and explicit approval when collecting, and before processing,
                            for the purposes of keeping Subjects informed of IISHF activities, registering for meetings
                            and events or granting Subjects access to member-restricted areas or documents on IISHF`s
                            website.</p>
                        <p>By using the services offered by IISHF (hereinafter referred to as the "Services"), and in
                            accordance with the legal provisions in force, Subjects acknowledge that entering into an
                            engagement with IISHF means that they agree to the collection and processing of Data and
                            agree to this Policy.</p>
                        <h2 id="s3">Legal Basis and Purposes of Data Collection and Processing</h2>
                        <h3 id="s3_1">Legal Basis</h3>
                        <p>The Subject acknowledges that the collection and processing of Data by IISHF is necessary for
                            providing specific Services the Subject might be using, but also for the preservation of the
                            legitimate interests of IISHF and for the fulfilment of legal obligations incumbent upon
                            IISHF.</p>
                        <h3 id="s3_2">Purposes</h3>
                        <p>The Data is collected and processed by IISHF for the following purposes (hereinafter referred
                            to as "Purposes"):</p>
                        <ul style="list-style-type: disc;">
                            <li>IISHF processes the personal data of individuals who enroll to participate in
                                competitions and championships for the purpose of managing registrations and
                                participation to such events.
                            </li>
                            <li>Similarly, IISHF collects and processes personal data of contact persons working for
                                providers of services required by the federation (e.g. hotels, interpreters,
                                translators, technical companies, etc.) to successfully run meetings and events.
                            </li>
                            <li>IISHF processes the personal data of individuals who register to attend meetings,
                                conferences or other events it organizes for the purpose of managing registrations and
                                participation to such events.
                            </li>
                            <li>Technical data, on the other hand, is processed automatically and anonymously to
                                improve your browsing experience and collect use statistics.
                            </li>
                        </ul>
                        <h2 id="s4">What Data is collected?</h2>
                        <h3 id="s4_1">Type of Data</h3>
                        <p>As part of the Services, IISHF collects the following Data (contemplative, non-exhaustive
                            list) from Subjects:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Identification data: personal identification data (name, surname, title, etc.).</li>
                            <li>Identification data issued by public authorities and other registers: identity cards,
                                passports, sports licenses.
                            </li>
                            <li>Location data: personal addresses of Subjects.</li>
                            <li>Communication and electronic identification data: telephone number, e-mail address.</li>
                        </ol>
                        <h3 id="s4_2">Information Collected Directly from Subjects</h3>
                        <p>Most of the time, IISHF does not collect and store information identifying Subjects
                            personally unless that data is voluntarily disclosed.</p>
                        <p>In some cases, however, IISHF may request such information to provide specific Services.</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Subjects will be required to provide IISHF with some personal information when
                                registering for competitions.
                            </li>
                            <li>As external stakeholders, Subjects may be required to provide personal data when
                                registering for IISHF newsletter or events or otherwise interacting with our website.
                            </li>
                        </ol>
                        <h3 id="s4_3">Information Collected from Third Parties - Subcontractors</h3>
                        <p>As part of its Services, IISHF may also collect data from third parties. Data collected from
                            third parties is treated in the same way as Data collected directly from the Subjects (see
                            paragraph <a href="#s4_2">4.2</a> above).</p>
                        <p>IISHF may be considered as a processor of personal data in the context of information
                            collected from third parties, according to the applicable regulations. Should this be the
                            case, IISHF will enter into a data processing agreement with the third parties concerned to
                            ensure compliance with the present Policy.</p>
                        <h2 id="s5">Methods of Data Processing and Retention Schedule</h2>
                        <p>Data is processed by IISHF - or by third parties selected on the basis of their reliability
                            and competence, as well as by duly appointed data controllers - solely for the purposes
                            specified in paragraph <a href="#s3">3</a> above.</p>
                        <p>IISHF retains the Data for as long as necessary for the fulfilment of the Purposes for which
                            it was collected. IISHF will keep data for as long as Subjects continue to be a designated
                            person within an organization or other entity that IISHF is in contact with for reasons
                            pertaining to championships, events, or research. IISHF also will keep data for as long as
                            Subjects agree to receive our newsletter. IISHF will not retain data, when registering for
                            IISHF events and conferences, beyond their scheduled date.</p>
                        <p>Similarly, IISHF deletes or anonymizes personal data (or takes equivalent measures) as soon
                            as they are no longer necessary to achieve the Purposes, subject however (i) to legal or
                            regulatory requirements applicable to the data retention for a longer period of time, or
                            (ii) to ascertain, exercise and / or defend actual or potential rights in legal proceedings,
                            investigations or similar proceedings, including legal holds that IISHF might impose to
                            preserve relevant information.</p>
                        <p>Security measures are applied to prevent the risk of loss of data, unlawful or improper use
                            and unauthorized access (see paragraph <a href="#s8">8 (Privacy, Security and Data
                                Protection)</a> below.</p>
                        <h2 id="s6">Profiling</h2>
                        <p>IISHF may evaluate certain characteristics of the Subjects on the basis of automatically
                            processed Data in order, in particular, to offer them personalized offers and advice or
                            information about its Services.</p>
                        <p>In contrast, IISHF does not use automated decision making in relation to Subjects.</p>
                        <h2 id="s7">Access to Data and Data Transfers</h2>
                        <p>The Data transmitted to IISHF will be known and used by IISHF officers for the sole purpose
                            of performing the Services that constitute the purpose for which the Data was collected.</p>
                        <p>As part of the performance of the Services, IISHF may transmit the Data to third parties. The
                            transmission of data to third parties abroad is alternatively based on (i) an adequacy
                            decision based on the list of countries whose data protection legal standards are approved
                            by the European Commission, (ii) appropriate safeguards or (iii) a waiver for specific
                            situations (execution of a mandate related to the Services offered by IISHF, in
                            particular).</p>
                        <p>IISHF does not sell or rent the Data to any third party.</p>
                        <p>Finally, IISHF may have to share the personal data:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>To put the needed Services at the Subjects disposal;</li>
                            <li>Where permitted or required by law to comply with a valid legal process;</li>
                            <li>To protect and defend IISHF ' rights or property, including the security of its products
                                and services;
                            </li>
                            <li>To protect the personal safety, property or other rights of the public, IISHF or its
                                employees.
                            </li>
                        </ol>
                        <p>When IISHF has the legal obligation to disclose Data to third parties, IISHF will take all
                            reasonable steps to notify the Subjects in advance, unless otherwise required by law.</p>
                        <h2 id="s8">Privacy, Security and Data Protection</h2>
                        <p>IISHF undertakes to ensure that there are adequate levels of protection of Data.</p>
                        <p>Subjects’ Data will be transmitted to and stored on IISHF ' servers, access to which is
                            strictly limited. IISHF has taken the appropriate technical and organizational precautions
                            to ensure that its servers are accessible exclusively to duly authorized persons, as well as
                            special precautions about the protection of its technical environment (e.g. use of
                            anti-viruses and Firewalls).</p>
                        <h2 id="s9">Rights of the Subjects</h2>
                        <p>In accordance with the applicable regulations, Subjects may exercise the following rights
                            with respect to their data in connection with the processing of Data:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Right to request access to stored Data;</li>
                            <li>Right to request the rectification of stored Data;</li>
                            <li>Right to request the deletion of stored Data, subject to the applicable legal provisions
                                on data retention;
                            </li>
                            <li>Right to request a limitation of the processing of stored Data, subject to the
                                applicable legal provisions regarding the processing of data; and
                            </li>
                            <li>Right to request a prohibition on the processing of stored Data, subject to the
                                applicable legal provisions regarding the processing of data.
                            </li>
                        </ol>
                        <p>Even if a Subject contests the processing of its Data, IISHF is entitled to continue such
                            processing if it is (i) legally binding, (ii) necessary for the performance of an Agreement
                            to which the Subject might be party, (iii) necessary for the performance of legal
                            obligations in compliance with proceeding of public interest or (iv) necessary for the
                            legitimate interests that IISHF pursues, including the finding, exercise or defense of a
                            right in justice.</p>
                        <p>The exercise of any right set forth in the paragraph shall be carried out in accordance with
                            the communication provisions of paragraph <a href="#s11">11 (Communication and Remarks)</a>
                            below.</p>
                        <h2 id="s10">Children’s privacy</h2>
                        <p>The protection of personal data of children and adolescents is of particular concern to
                            IISHF. Data for Minors is only collected in conjunction with their participation in IISHF
                            tournaments. Other than representing information of participating players, the IISHF
                            Platforms and their content are not directed at children. </p>
                        <p>IISHF recommends that parents discuss the use of the Internet and the provision of personal
                            data on websites with their children before allowing children to navigate through IISHF
                            Platforms.</p>
                        <p>IISHF will never knowingly collect personal data from or about children and will only
                            knowingly collect personal data from minors where parental permission has been obtained by
                            its National Member Federations as required by applicable law.</p>
                        <h2 id="s11">Cookie policy</h2>
                        <p>Cookies are small files that a website stores on your computer and that your browser provides
                            to that same website each time you visit it. IISHF uses cookies to improve the browsing
                            experience, manage Subjects’ access to specific content and also generate anonymous
                            statistics on how IISHF’s website is used.</p>
                        <p>Subjects may delete cookies via their browser settings and change their preferences anytime
                            when visiting IISHF’s website. However, this may impair the use of the website or social
                            media. It may also prevent from accessing some content on our website, unless Subjects’
                            access credentials are submitted once again.</p>
                        <h2 id="s12">Communication and Remarks</h2>
                        <p>If you have any questions about IISHF's data protection, a detailed message can be sent to
                            <a href="mailto:office@iishf.com">office@iishf.com</a> and IISHF will address them as soon
                            as possible.</p>
                        <p>You may exercise any of your rights related to Personal Data (paragraph 9 GDPR) by sending
                            your request to the aforementioned address.</p>
                        <p>IISHF is constantly evolving, and this Policy and the Terms and Conditions may change. Unless
                            otherwise stated, our Policy applies to the use of all information collected about any
                            Subject.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
