{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Privacy Policy', 'before': true} %}
                <div class="cookie">
                    <div class="col-12 p-lg-0">
                        <p class="mb-4">
                            <b>How we handle the information we gather when you visit our web site</b><br>
                            We collect no personal information about you when you visit our site unless you choose to
                            provide this
                            information to us. However, we do automatically collect and store the name of the domain
                            from which you access
                            the Internet (.com, .edu, etc.); the date and time you access our site; and the Internet
                            address of the
                            website (such as a search engine or referring page) from which you reached our site. We use
                            the information we
                            collect to count the number of visitors to the different pages on our site, and to help us
                            make our site more
                            useful to visitors like you.
                        </p>
                        <p class="mb-4">
                            <b>If You Send Us E-mail</b><br>
                            You may choose to provide us with personal information, as in e-mail with a comment or
                            question. We use the
                            information to improve our service to you or to respond to your request. Sometimes we
                            forward your e-mail to
                            other persons within the IISHF or within one of our member NGBs who may be better able to
                            help you. Except for
                            authorized law enforcement investigations, we do not share our e-mail with any other outside
                            organizations.
                        </p>
                        <p class="mb-4">
                            <b>Links to External Websites</b><br>
                            Our website has many links to websites of our member NGBs and to websites of teams playing
                            Inline Skater
                            Hockey in both Switzerland and other nations. When you follow a link to another site, you
                            are no longer on our
                            site and are subject to the privacy policy of the new site.
                            Every effort is made to provide accurate and complete information. However, we cannot
                            guarantee that there
                            will be no errors. With respect to documents and information on this web site, neither the
                            IISHF nor its
                            employees or contractors make any warranty, expressed or implied, including the warranties
                            of merchantability
                            and fitness for a particular purpose with respect to documents available from this web site.
                            Additionally, the
                            embassy assumes no legal liability for the accuracy, completeness, or usefulness of any
                            information, product,
                            or process disclosed herein and does not represent that use of such information, product, or
                            process would not
                            infringe on privately owned rights.
                        </p>
                        <p>
                            <b>Security</b><br>
                            For site security purposes and to ensure that this service remains available to all users,
                            the IISHF uses
                            software programs to monitor network traffic to identify unauthorized attempts to upload or
                            change information
                            or otherwise cause damage. Unauthorized attempts to upload information or change information
                            on this service
                            are strictly prohibited and may be punishable. Information also may be used for authorized
                            law enforcement
                            investigations. Except for the above purposes, no other attempts are made to identify
                            individual users or
                            their usage habits. Unauthorized attempts to upload information and/or change information on
                            these web sites
                            are strictly prohibited and are subject to prosecution.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
