{% extends 'public_base.html.twig' %}

{% block body %}
    <h1>Reset Password</h1>

    {{ form_start(resetPasswordForm) }}
    {{ form_rest(resetPasswordForm) }}

    <button type="submit" class="btn btn-primary">Reset Password</button>
    <a href="{{ path('home') }}">Home</a>

    {{ form_end(resetPasswordForm) }}
{% endblock %}
