{% extends 'admin/admin.html.twig' %}

{% block title %}Hall of Fame | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Create Hall of Fame Entry</h1>

    {% include 'admin/hall_of_fame/_form.html.twig' with {form: form, submitBtnText: 'Create', submitBtnType: 'success'} %}
{% endblock %}
