{
    "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
                "browsers": ["last 2 versions", "ios >= 8"],
                "uglify": true
            },
            "useBuiltIns": true
        }
      ]
    ]
}
