### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

/*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

# Vagrant
/vagrant/.vagrant/
/vagrant/playbook.retry
/vagrant/.bundle/
/vagrant/roles/webserver/files/iishf_test.*
/vagrant/__legacy/
/vagrant/dbbackup*
/vagrant/*.sql

# Docker
/docker/.env
/docker/nginx/iishf_test.*

# Deployment
/deployment/ansible.cfg
/deployment/playbook.retry
/deployment/hosts
/deployment/config.sh
/deployment/vars/vars.yml
/deployment/keys/*
!/deployment/keys/.gitignore

/bin/*
!/bin/console
!/bin/phpunit

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
