{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Create National Governing Body</h1>

    {% include 'national_governing_body/_form.html.twig' with {form: form, submitBtnText: 'Create', submitBtnType: 'success'} %}
{% endblock %}
