{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>National Governing Bodies</h1>

    <div class="card-columns">
        {% for ngb in ngbs %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ ngb.name }}</h5>
                    <h6 class="card-subtitle">{{ ngb.countryName }}</h6>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <a href="{{ path('app_nationalgoverningbody_getdetail', {'ngb': ngb.slug}) }}" class="card-link">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
