{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>National Governing Bodies</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for ngb in ngbs %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>
                    <a href="{{ path('app_nationalgoverningbody_getdetail', {'ngb': ngb.slug}) }}">{{ ngb.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
