.cookie {
    max-width: 140rem;
    margin: 7rem auto 0;
    font-family: "Montserat", sans-serif;
    font-size: 2.4rem;

    counter-reset: h2counter;

    h2 {
        font-size: 3.5rem;
        font-weight: 600;
        text-decoration: underline;

        counter-increment: h2counter;
        counter-reset: h3counter;

        &:before {
            content: counter(h2counter) ".\0000a0\0000a0";

        }
    }

    h3 {
        font-size: 2.4rem;
        font-weight: 600;
        text-decoration: underline;
        margin-top: map-get($spacers, 3);

        counter-increment: h3counter;

        &:before {
            content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
        }
    }

    p {
        font-weight: 300;
        margin-bottom: map-get($spacers, 4);
        margin-top: map-get($spacers, 4);
    }

    ol, ul {
        font-weight: 300;
    }

    p + ol, p + ul {
        margin-top: - map-get($spacers, 3);
    }

    a {
        color: #246d96;
    }
}
