{% extends 'public.html.twig' %}

{% block title %}About sport | {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    <span class="breadcrumb-item active">Inline Skater Hockey</span>
{% endblock %}

{% block content %}
    <section class="iishf imprint__bg imprint__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            {% include 'home/_title.html.twig' with {'title': 'Inline Skater Hockey', 'before': true} %}
            <div class="about-sport">
                <div class="col-12">
                    <div class="about-sport__row row">
                        <div class="col-12 col-md-6 order-1 order-md-0">
                            <div class="about-sport__text">
                                <p>is an extremely fast, very physical, dynamic, strategic team sport that requires
                                    great concentration and coordination of all team members. It is played on either
                                    inline or quad skates all year round.</p>
                                <p>The game is played by two teams, each of which have 5 players on the pitch, usually
                                    4 outfield players and 1 goalkeeper. All players wear special protective equipment.
                                    The pitch (standard size 20 x 40m) is divided by a centre line into 2 equal parts
                                    with a goal at each end. Both teams aim to put a plastic ball into the goal of the
                                    opposing teams as often as possible.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-0 order-md-1">
                            <div class="about-sport__img">
                                <img src="{{ asset('assets/sport/about1.png') }}" alt=""
                                     class="img-fluid w-100 pl-md-5 mb-4 mb-md-0">
                            </div>
                        </div>
                    </div>
                    <div class="about-sport__row row">
                        <div class="col-12 col-md-6">
                            <div class="about-sport__img">
                                <img src="{{ asset('assets/sport/about2.png') }}" alt=""
                                     class="img-fluid w-100 pr-md-5 mb-4 mb-md-0">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="about-sport__text">
                                <p>Skater hockey alike ice hockey is a contact sport with a set or largely similar
                                    rules. The differences derive mainly from the much smaller standard rink size (800
                                    m2 compared to 1,800 m2). As such, in skater hockey there is no "offside" and no
                                    "icing", referees may assign a "free hit" instead of a bully. In addition, yellow,
                                    red and black cards are shown. </p>
                                <p>In consequence, skater hockey is the most action-packed hockey there is. Goals, shots
                                    on goals and even hits significantly exceed statistics in the ice or inline hockey.
                                    This constant power struggle captivates both players and spectators. </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-sport__row row">
                        <div class="col-12">
                            <div class="about-sport__text">
                                <p>Skater hockey is played on almost any flat and dry surface including wood, concrete
                                    or plastic. Its rules allow the rink to be sized anything between 15 x 30m and 30 x
                                    60m with an approximate ratio of 1:2 for width to length. Any kind of materials may
                                    be used as boards, including the walls of gyms. These flexible pitch requirements
                                    make skater hockey extremely accessible to their communities. </p>
                                <p>In addition, the construction and operation/maintenance of a skater hockey pitch is
                                    many times more affordable than for inline hockey or ice rinks. That is because the
                                    rink size is much smaller, a ball does not demand expensive flooring such as a puck
                                    and there are no costs for ice maintenance (engineering, electricity, personnel,
                                    etc.).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
