@import "fonts";

@import "bootstrap-overwrites";
@import "~bootstrap/scss/bootstrap";

@import '~@fortawesome/fontawesome-free/css/all.css';

@import "select2";

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/bootstrap/main.css";

@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4-build";

@import "dropzone";
@import "trix";

@import "helpers";

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.main {
    overflow: hidden;

    &--bg {
        background-image: url("../img/main/main-page__bg.png");
        background-repeat: no-repeat;
        background-size: 87.5%;
    }

    &__iishf {
        .navbar {
            .nav-link {
                color: #fff !important;
            }
        }
    }
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    color: #333333;
    position: relative;
}

@media (max-width: 1600px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 1300px) {
    html {
        font-size: 6px;
    }
}

.z-index-2 {
    z-index: 2;
}

.page-container {
    max-width: calc(140rem + 30px);
    padding: 0 15px;
    margin: 0 auto;
}

.select-item {
    padding-left: 15px;
    padding-right: 30px;
    height: 45px;
    color: #fff;
    outline: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    background: #246d96;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }
}

@import "common/index";
@import "pages/index";
