{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h1>{{ application.applicantClub }}</h1>

    {% include 'event/application/_form.html.twig' with {application: application, form: form} %}
{% endblock %}
