{% extends 'public.html.twig' %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('app_news_index') }}">Articles</a>
    <a class="breadcrumb-item" href="{{ path('app_news_archive') }}">Archive</a>
    <span class="breadcrumb-item active">{{ article.title }}</span>
{% endblock %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': article.title, 'before': true} %}
                <div class="news">
                    <div class="page-container">
                        <div class="text-block">
                            <p>
                                {{ article.subtitle }}
                            </p>
                            <div>
                                {% include 'news/_article_content.html.twig' with {'article': article} %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-more">
                    {% include 'home/_title.html.twig' with {'title': 'Latest news', 'before': true} %}
                    <div class="news-more__list">
                        <div class="page-container">
                            <div class="row">
                                {% for article in latest %}
                                    <div class="col-md-6">
                                        {% include 'news/_article_box.html.twig' with {'article': article} %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
