{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'News', 'before': true} %}
                <div class="news">
                    <div class="page-container">
                        {% for row in articles|batch(2) %}
                            <div class="row">
                                {% for article in row %}
                                    <div class="col-md-6">
                                        {% include 'news/_article_box.html.twig' with {'article': article} %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        {% if articles.haveToPaginate %}
                            {{ pagerfanta(articles, 'twig', {'template': 'news/_pager.html.twig'}) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
