{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h1>Change Fixture for Game {{ game.fixture }}</h1>

    {% include 'event/game/_form.html.twig' with {game: game, form: form} %}
{% endblock %}
