{% extends 'internal.html.twig' %}

{% block content %}
    <h1>Add team to {{ event.name }}</h1>

    {% include 'event/team/_form.html.twig' with {
        event: event,
        form: form,
        submitBtnText: 'Add',
        submitBtnType: 'success'
    } %}
{% endblock %}
