{% extends 'admin/admin.html.twig' %}

{% block title %}Staff | {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ member.name }}</h1>

    {% include 'admin/staff/_form.html.twig' with {form: form, member: member} %}
{% endblock %}
