{% extends 'admin/admin.html.twig' %}

{% block title %}Members | {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ ngb.name }}</h1>

    {% include 'admin/national_governing_body/_form.html.twig' with {form: form, ngb: ngb} %}
{% endblock %}
