{% set btnGroupClass = size|default(false) ? 'btn-group btn-group-' ~ size : 'btn-group' %}
<div class="{{ btnGroupClass }}" role="group">
    {% block before_workflow %}{% endblock %}
    {{ include('common/_workflow_btns.html.twig', {
        subject: article,
        route: 'app_article_workflow',
        routeParams: {'article': article.id},
        confirmTitle: article.title,
        csrfIntentionPrefix: 'article_' ~ article.id
    }) }}
    {% block after_workflow %}{% endblock %}
</div>
