{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Create Article</h1>

    {% include 'article/_form.html.twig' with {author: author, form: form, submitBtnText: 'Create', submitBtnType: 'success'} %}
{% endblock %}
