{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>
        {% if workflow_has_marked_place(article, 'draft') %}
            <span class="badge badge-light">{{ workflow_metadata(article, 'title', 'draft') }}</span>
        {% elseif workflow_has_marked_place(article, 'review') %}
            <span class="badge badge-dark">{{ workflow_metadata(article, 'title', 'review') }}</span>
        {% endif %}
        {{ article.title }}
    </h1>

    {% include 'article/_form.html.twig' with {author: article.author, form: form} %}
{% endblock %}
