.iishf {
  &__bg {
    background-repeat: no-repeat;
    &--right {
      background-image: url("../../img/common/iishf__right-bottom-bg.png");
      background-position: right bottom;
    }
    &--right-top {
      background-image: url("../../img/common/iishf__right-top-bg--top.png");
      background-position: right bottom;
    }
    &--right-bottom {
      background-image: url("../../img/common/iishf__right-top-bg--bottom.png");
      background-position: right top;
    }
    &--left-top {
      background-image: url("../../img/common/iishf__left-top-bg.png");
      background-position: left 22%;
    }
    &--left-bottom {
      background-image: url("../../img/main/photo__bg--1.png");
      background-position: left bottom;
      background-size: 24%;
      padding-bottom: 18rem;
      @include media-breakpoint-down(sm) {
        padding-bottom: 22rem;
      }
    }
    @include media-breakpoint-down(sm) {
      background: none;
    }
  }
  &__breadcrumbs {
    padding-top: 3.5rem;
    padding-bottom: 5rem;
  }
  &__accordion {
    max-width: 140.5rem;
    margin: 5.5rem auto 0;
    .card {
      .card-header {
        padding: 1rem 3.5rem;
      }
      .card-body {
        font-size: 14px;
      }
    }
    .btn-link {
      font-family: "Montserrat", sans-serif;
      font-size: 2.8rem;
      font-weight: 600;
      color: #fff;
    }
  }
  &__slider {
    padding-top: 8rem;
    padding-bottom: 50px;
    @include media-breakpoint-down(sm) {
      padding: 5rem 15px 0;
      img, video {
        margin: 0 auto;
      }
    }
  }
  .slick-center {
    img, video {
      transition: all 0.3s;
      transform: scale(1.2);
    }
  }
  .slick-list {
    padding-top: 6rem!important;
    padding-bottom: 6rem!important;
    @include media-breakpoint-down(sm) {
      padding-top: 0!important;
      padding-bottom: 3rem!important;
    }
  }
  .slick-track {
    margin-left: -18rem;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }
  .slick-dots {
    left: 0;
  }
}
