.m-top-slider {
    &__container {
        max-width: 73%;
        margin: 0 auto;
        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }
    }

    &__slide {
        min-height: 450px;
        @include media-breakpoint-down(sm) {
            font-size: 24px;
            padding-bottom: 15px;
            text-align: center;
            min-height: auto;
        }

        &-title {
            font-family: "Lato", sans-serif;
            font-weight: bold;
            font-size: 5rem;
            text-transform: uppercase;
            padding: 10rem 0 2rem 0;
            @media (max-width: 1400px) {
                font-size: 6rem;
            }
            @include media-breakpoint-down(sm) {
                font-size: 24px;
                padding: 10px 25px 10px;
                text-align: center;
            }
        }

        &-quote {
            padding: 0;
            font-weight: bold;
            font-size: 2.9rem;
            font-style: italic;

            @include media-breakpoint-down(sm) {
                padding: 0 25px 10px;
            }
        }

        img {
            float: right;
            top: 2.5rem;
            right: 8rem;
            max-height: 400px;
            width: 400px;
            object-fit: contain;
            @include media-breakpoint-down(sm) {
                float: none;
                margin: 0 0 20px 0;
                width: 100%;
            }
        }
    }
}

.vertical-dots {
    right: 5px;
    list-style: none;
    display: block;
    position: absolute;
    top: 10rem;
    margin-top: -10px;
    text-align: right;

    li {
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        text-align: center;

        &.slick-active {
            margin-bottom: 2rem;

            button {
                width: 20px;
                height: 20px;
                background-color: #fff;
                border: 1px solid #266d94;

                &::before {
                    display: none;
                }
            }
        }

        button {
            width: 10px;
            height: 10px;
            box-shadow: none;
            border: none;
            border-radius: 50%;
            color: transparent;
            background-color: #266d94;

            &:active {
                outline: none;
            }
        }

        &:active {
            outline: none;
        }
    }
}
