{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Create User</h1>

    {% include 'user/_form.html.twig' with {form: form, submitBtnText: 'Create', submitBtnType: 'success'} %}
{% endblock %}
